img#eggplant{height:300px;
             width:280px;
              border-radius:60%; 
            }

            
            img.star{height:100px;
                     width:300px;
            
                   }
                  img.heart{
                        height:50px;
                        width:60px;
                        position: absolute;
                         top: 8px;
                          right: 10px;
                }
                  .check  img{
                    height :10%;
                     width :10%;
                    position: relative;
                    top: -150px;
                    left: 50px;
                          
                        }

                      
              .ingredient img{
                  height:130px;
                  width:150px;
                  border-radius:60%;

               }        
